.container{
    margin-left: 80px;
    /* border-style: solid;
    border-color: yellow; */
    font-family:  'Red Hat Display', sans-serif;
}
.searchbox{
    background-color: #242424;
    color: black;
    outline: none;
    width:26rem;
    border-top-left-radius: 30px;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:10px;
    padding-left:52px;
    border-style: none;
    box-shadow: 1px 1px 10px #000;
}
.searchbox1{
    background-color: #242424;
    color: white;
    outline: none;
    width:12rem;
    border-top-left-radius: 30px;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:10px;
    margin:10px;
    padding-left:22px;
    border-style: none;
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
}
option{
    color: white;
}
.but{
    background-color: grey;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding:5px;
    display: inline-block;
    outline: none;
}
.box{
    padding: 70px;
    padding-left: 235px;
}
.box1{
    padding: 70px;
}
::placeholder {
    color: rgb(148, 148, 148);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(148, 148, 148);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(148, 148, 148);
  }
  .fuc{
    /* margin:20px; */
    width:250px;
    height: 50px;
    color: white;
    background-color: #5A80FF;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
  }
  .slog{
      width:32px;
      float: right;
  }
.large-card{
    width:65%;
    /* border-style: solid;
    border-color: yellow; */
    height: 200px;
    margin: 0px auto;
    /* margin-left: 250px; */
    border-radius: 50px;
    padding:20px;
    background-color: #00a2bc;
    overflow: hidden;
    
}
.cont{
    height: 100vh;
    overflow-y: hidden;
    margin-left: 70px;
}
.gm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
.large-card1{
    width:50%;
    /* border-style: solid;
    border-color: yellow; */
    height: 200px;
    margin: 0px auto;
    /* margin-left: 250px; */
    border-radius: 50px;
    padding:20px;
    background-color: #E78F36;
    overflow: hidden;
    /* display: inline-block; */
    
}
.text-head{
    font-weight: 400;
    font-size: 40px;
    margin-top:-175px;
    margin-left: 35px;
    color: #fff;
}
.text-help{
    color: white;
    margin-left: 35px;
    font-weight: 500;
}
.num{
    margin-left: 35px;
    color: white;
}
.bac{
    position: absolute;
    opacity: 50%;
}
.number{
    font-weight: 400;
    font-size: 20px;
    margin-left:10px;
    color: white;
}
.ph{
    width:18px;
}
.ma{
    width:90%;
    margin-top:150px;
    z-index: 999999;

}
.wave{
    /* position: absolute; */
    position: relative;
    width:100%;
    margin-top:-5px;
    margin-left:0px;
    /* top:10px; */
}
.no{
    padding: 70px;
}
.suc{
    font-size: 50px;
    font-weight: 500;
}
.right-card{
    border-radius: 10px;
    /* border-style: solid;
    border-color: yellow; */
    margin:10px;
    /* margin-top:20px; */
    margin-left:-200px;
    width: 300px;
    height: 50px;
    background-color: #242424;
    padding:30px 10px; 
    
}
.wave1{
    position: absolute;
    width:36%;
    margin-top:100px;
    /* margin-left :1px; */
    /* margin-left:0; */
    /* top:10px; */
}
.im{
    padding:10px;
}
th{
    background-color: #49E6FF;
    height: 40px;
    border-radius: 2px;
    padding-top:15px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    /* margin-left:15px; */
}
.grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
td{
    background-color: #242424;
    color: grey;
    text-align: center;
    padding:15px;


}
.left{
    border-top-left-radius: 10px;
}
.right{
    border-top-right-radius: 10px;
}
.left1{
    border-top-left-radius: 10px;
    background-color: #E78F36;
}
.right1{
    border-top-right-radius: 10px;
    background-color: #E78F36;
}
.mid{
    background-color: #E78F36;
}
table{
    width:68%;
    margin : 40px auto;
    
}
.foff{
    width:55px;
    padding: 20px 0px 0px 10px;

}
.foff1{
    width:45px;
    padding: 15px 0px 0px 13px;

}
.foff2{
    width:45px;
    padding: 15px 0px 0px 13px;
}
  @media (max-width:1139px){
    .searchbox{
        width: 13rem;
    }
    .container{
        margin-left: 0px;
    }
    .gm{
        grid-template-columns: 1fr;
    }
  }